.Header {
  display: flex;
  justify-content: space-between;
  background: white;
  padding: 1rem;
  align-items: center;
}

.Header__links {
  display: flex;
  gap: 0.5rem;
}

.Header__links > a {
  font-weight: bold;
}
