.card {
  border: 1px solid white;
  border-radius: 1rem;
  margin: 2rem;
  box-shadow: 3px 3px white;
  width: 15rem;
}

.card > h1 {
  font-size: 2rem;
}

.card > img {
  border-radius: 1rem;
  width: 200px;
}

.tag-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  margin-bottom: 1.5rem;
}

.tag {
  background: white;
  color: black;
  padding: 0.25rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
  max-width: 6rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
